.header__lang-link {
    max-width: 30px;
    max-height: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    color: #FFFFFF;
    margin: 18px 0 0 0
}