.photo-grid {
    display: grid;
    max-width: 1184px;
    height: fit-content;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 213px);
    gap: 16px;
    margin: 0;
    padding-top: 92px;
    padding-left: 48px;
    padding-right: 48px;
}

@media screen and (max-width: 1279px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        grid-template-columns: repeat(1, minmax(min-content, max-content));
        padding-left: 16px;
        padding-right: 16px;
    }
}
