.photo-grid {
    display: grid;
    max-width: 1184px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 16px;
    margin: 92px 48px 0 48px;
}

@media screen and (max-width: 1279px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        margin-right: 24px;
        margin-left: 24px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        grid-template-rows: repeat(2, min-content);
        margin-left: 16px;
        margin-right: 16px;
    }
}

@media screen and (max-width: 500px) {
    .photo-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, min-content);
        margin-top: 64px;
    }
}