.place__image {
    width: 100%;
    max-height: 460px;
    object-fit: cover;
    margin: 0;
}

@media screen and (min-width: 321px) and (max-width: 767px) {
    .place__image {
        margin: 0 auto;
    }
}

@media screen and (max-width: 1023px) {
    .place__image {
        max-height: 340px;
    }
}

@media screen and (max-width: 767px) {
    .place__image {
        max-height: 320px;
    }
}

@media screen and (min-width: 321px) {
    .place__image {
        max-height: 460px;
    }
}