.intro__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}

@media screen and (max-width: 1023px) {
    .intro__list {
        margin: 0 24px 0 24px;
    }
}

@media screen and (max-width: 767px) {
    .intro__list {
        margin: 0 16px;
        max-width: 288px;
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .intro__list {
        width: 690px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .intro__list {
        width: 720px;
    }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
    .intro__list {
        max-width: 690px;
    }
}