.intro__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 690px;
    height: 90px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}

@media screen and (max-width: 1023px) {
    .intro__list {
        margin: 0 24px 0 24px;
    }
}