.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 148px * 2);
    margin: 0;
    padding: 56px 148px 0 148px;
}

@media screen and (max-width: 1279px) {
    .lead {
        width: calc(100% - 48px * 2);
        padding: 48px 48px 0 48px;
    }
}

@media screen and (max-width: 1023px) {
    .lead {
        width: 100%;
        padding: 48px 0 0 0;
    }
}

@media screen and (max-width: 767px) {
    .lead {
        max-width: 928px;
    }
}