.lead {
    max-width: 984px;
    margin: 0 auto;
    padding-top: 56px;
    padding-left: 48px;
    padding-right: 48px;
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 928px;
        padding-top: 48px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .lead {
        max-width: 768px;
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .lead {
        padding: 48px 0 0 0;
    }
}