.lead {
    max-width: 984px;
    height: fit-content;
    margin: 0 auto;
    padding-top: 56px;
}

@media screen and (max-width: 1024px) {
    .lead {
        padding-top: 48px;
        margin: 0;
        padding-left: 48px;
        padding-right: 48px;
    }
}