.cover__subtitle {
    width: 360px;
    height: 66px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 32px auto 0 auto;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        width: 288px;
        height: 48px;
        font-size: 14px;
        line-height: 16px;
        margin-top: 16px;
    }
}


