.header {
    display: flex;
    max-width: 1184px;
    margin: 28px 48px 0 48px;
    justify-content: space-between;
}

@media screen and (max-width: 1023px) {
    .header {
        margin: 28px 24px 0 24px;
    }
}

@media screen and (max-width: 725px) {
    .header {
        max-width: 288px;
        height: 42px;
        margin: 16px 16px 0 16px;
    }
}

@media screen and (min-width: 321px) {
    .header {
        max-width: 1184px;
    }
}