.footer__links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .footer__links {
        flex-direction: column;
        margin-bottom: 46px;
        gap: 32px;
    }
}