.place__paragraph {
    max-width: 484px;
    height: fit-content;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0 0 26px 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
    .place__paragraph {
        max-width: 352px;
        height: fit-content;
        font-size: 16px;
        margin: 48px 24px 25px 28px;
    }
}