.place__paragraph {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0 0 26px 0;
    padding: 0;
    box-sizing: border-box;
}


.place__paragraph:nth-of-type(2n) {
    margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
    .place__paragraph {
        max-width: 352px;
        font-size: 16px;
    }

    .place__paragraph:last-of-type {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        max-width: 484px;
        width: 100%;
        margin: 0 auto 26px auto;
        padding-left: 16px;
        padding-right: 16px;
        align-self: center;
    }
}