.footer__copyright {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        text-align: left;
    }
}