.lead__image {
    max-width: 984px;
    width: 100%;
    height: 615px;
    background-image: url("../../../images/lead-polka.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 64px 0 0 0;
}

@media screen and (max-width: 1279px) {
    .lead__image {
        max-width: 928px;
        height: 580px;
        margin: 64px 0 0 0;
    }
}

@media screen and (max-width: 767px) {
    .lead__image {
        max-width: 320px;
        height: 200px;
        margin: 0;
    }
}

@media screen and (min-width: 321px) {
    .lead__image {
        max-width: 984px;
        width: 100%;
    }
}

@media screen and (min-width: 400px) {
    .lead__image {
        height: 300px;
    }
}

@media screen and (min-width: 600px) {
    .lead__image {
        height: 400px;
    }
}

@media screen and (min-width: 768px) {
    .lead__image {
        height: 480px;
    }
}