.intro__text {
    max-width: 690px;
    width: 100%;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0 0 33px 0;
}

@media screen and (max-width: 1023px) {
    .intro__text {
        margin: 0 24px 33px 24px;
    }
}

@media screen and (max-width: 767px) {
    .intro__text {
        max-width: 288px;
        width: 100%;
        margin: 0 16px 34px 16px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .intro__text {
        max-width: 720px;
        margin: 0 0 33px 0;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .intro__text {
        max-width: 690px;
        width: fit-content;
    }
}