.intro__text {
    max-width: 690px;
    width: 100%;
    height: fit-content;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0 0 33px 0;
}

@media screen and (max-width: 1023px) {
    .intro__text {
        margin: 0 24px 33px 24px;
    }
}