.intro {
    display: flex;
    flex-direction: column;
    width: calc(100% - 148px * 2);
    max-width: 720px;
    padding-top: 92px;
    margin: 0;
    padding-left: 148px;
    padding-right: 148px;
}


@media screen and (max-width: 1279px) {
    .intro {
        width: calc(100% - 96px);
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        width: calc(100% - 24px * 2);
        padding-top: 88px;
        padding-right: 24px;
        padding-left: 24px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        width: calc(100% - 16px * 2);
        padding-top: 64px;
        padding-left: 16px;
        padding-right: 16px;
        margin: 0;
    }
}