.intro {
    display: flex;
    flex-direction: column;
    width: calc(100% - 148px * 2);
    max-width: 720px;
    margin: 0;
    padding: 92px 148px 0 148px;
}


@media screen and (max-width: 1279px) {
    .intro {
        width: calc(100% - 96px);
        padding: 92px 48px 0 48px;
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        width: calc(100% - 24px * 2);
        padding: 88px 24px 0 24px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        width: calc(100% - 16px * 2);
        padding: 64px 16px 0 16px;
    }
}