.cover {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1184px;
    height: 740px;
    background-image: url("../../images/cover-trains.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 92px 48px 0 48px;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1279px) {
    .cover {
        margin: 92px 0 0 0;
        width: 100%;
    }
}

@media screen and (max-width: 1023px) {
    .cover {
        max-width: 768px;
        height: 480px;
        width: 100%;
        margin-top: 90px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        max-width: 320px;
        height: 200px;
        margin-top: 66px;
    }
}