.cover {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1184px;
    background-image: url("../../images/cover-trains.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 92px 48px 0 48px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
}

@media screen and (max-width: 1279px) {
    .cover {
        margin: 92px 0 0 0;
    }
}

@media screen and (max-width: 1023px) {
    .cover {
        max-width: 768px;
        min-height: 480px;
        margin-top: 90px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        max-width: 320px;
        min-height: 200px;
        margin-top: 66px;
    }
}

@media screen and (min-width: 321px) {
    .cover {
        max-width: 1184px;
    }
}

@media screen and (min-width: 1280px) {
    .cover {
        min-height: 740px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover {
        min-height: 640px;
    }
}

@media screen and (min-width: 643px) and (max-width: 1023px) {
    .cover {
        min-height: 480px;
    }
}