.place__link {
    max-width: 456px;
    max-height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin: 0 0 48px 0;
}

@media screen and (max-width: 1023px) {
    .place__link {
        margin-left: 28px;
    }
}