.cover__overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #2A2C2F;
    opacity: .3;
}

.cover:hover .cover__overlay {
    opacity: 0.8;
    cursor: pointer;
}