/* .place {
    display: flex;
    padding-top: 80px;
}

.place:first-of-type {
    padding-top: 0;
} */

.place {
    display: grid;
    grid-template-columns: repeat(2, 460px);
    grid-template-rows: repeat(2, min-content);
    gap: 40px;
}

@media screen and (max-width: 1279px)  {
    .place {
        grid-template-columns: repeat(2, 440px);
        grid-template-rows: repeat(2, min-content);
        gap: 32px;

    }
}

@media screen and (max-width: 1023px) {
    .place {
        grid-template-columns: repeat(2, 340px);
        grid-template-rows: repeat(2, min-content);
        gap: 28px;
        padding-left: 24px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        grid: 600px auto / 1fr;
        grid-template-rows: 1fr;
        padding-left: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place {
        padding-top: 72px;
        grid-column-gap: 28px;
        grid-row-gap: 48px;
    }

    .place:first-of-type {
        padding-top: 0;
    }
}

@media screen and (min-width: 1280px) {
    .place {
        padding-top: 80px;
        grid-column-gap: 40px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place {
        padding-top: 80px;
        grid-column-gap: 32px;
        grid-row-gap: 48px;
    }

    .place:first-of-type {
        padding-top: 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .place {
        padding-top: 50px;
        grid-column-gap: 32px;
    }

    .place:first-of-type {
        padding-top: 0;
    }
}