.footer {
    display: flex;
    max-width: 1184px;
    justify-content: space-between;
    margin: 0 48px 24px 48px;
    padding-top: 92px;
}

@media screen and (max-width: 1023px) {
    .footer {
        max-width: 720px;
        margin: 0 auto 24px auto;
        padding-top: 88px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
        margin: 64px auto 24px 0;
        padding: 0 0 0 16px;
    }
}
