.place__url-heading {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
    margin: 0 0 12px 0;
}

@media screen and (max-width: 767px) {
    .place__url-heading {
        margin-left: 16px;
    }
}
