.intro__title {
    max-width: 720px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
    margin: 0 0 40px 0;
}


@media screen and (max-width: 600px) {
    .intro__title {
        max-width: 690px;
        width: 100%;
        font-size: 32px;
        line-height: 35px;
        margin: 0 auto 40px 0;
    }
}

