.intro__title {
    width: 690px;
    height: 58px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
    margin: 0 0 40px 0;
}